* {
	padding:0;
	margin:0;
	font-family: "Tahoma";
}
a {
	color: inherit;
	text-decoration: none;
}
/*.medsos {
	padding:10px 0;
	background-color: #009999;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}*/
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}

header {
	background-color: rgba(215,215,215,.8);
	width: 100%;
	/* animation magic */
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	z-index: 9999;
	top: 0;
	position: sticky;
}
header ul {
	float: left;
	width: 100%;
	margin-top: .6vh;
	/*display: flex;*/
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}
header a img{
	float: left;
	margin:.5vh 0;
	max-height: 13vh;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	/*line-height: 4.3vh;*/
	/* animation magic */
	display: flex;
  	justify-content: flex-start;
}
header ul.topnav li {
	float: right;
}
header ul.topnav li a {
	margin:5.3vh 1.5vw;
	font-size: larger;
	display: block;
	transition:.5s;
}
header ul.topnav li a:hover {
	color: #009999;
	transition:.5s;
}
.fontmenu {
	padding: 0px 0px;
}
.shrink {
  	max-height: 7.5vh;
}
.shrink1 {
  	margin:2.6vh 1.5vw;
  	font-size: unset;
}
.shrink2 {
	margin-top:3.2vh;
	line-height: 2.8vh;
	margin-left: 6px;
  	font-size: unset;
}
.active {
	color: #009999;
	border-bottom : .5vh solid;
}

header ul.topnav1 {
	display: inline-block;
}
header ul.topnav1 li {
	display: inline-block;
	margin-top: 0;
}
header ul.topnav1 li a {
	margin:0 1.5vw;
	font-size: larger;
	display: block;
	transition:.5s;
}
header ul.topnav1 li a:hover {
	color: #009999;
	transition:.5s;
}

.cover {
	background-image: url('../img/cover.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner {
	height: 50vw;
	background-color: #dde7ed;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h2 {
	color: #666;
	z-index: 1;
	border:0px solid #fff;
	font-size: 2.2em;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #009999;
	margin-bottom: 25px;
}
section h5 {
	text-align: left;
	margin-top: 20px 0;
	color: #595959;
	font-size: 1.3em;
}
section h6 {
	text-align: left;
	padding:0px 0;
	color: #595959;
	font-size: 1.2em;
	margin-bottom: 25px;
}

.about {
	padding-bottom: 50px;
	background-color: #e6eef2;
}

.projects {
	padding-bottom: 100px;
	background-color: #dde7ed;
}

.contact {
	padding-bottom: 100px;
	background-color: #dde7ed;
}

.about p {
	color: #595959;
	word-spacing: .35em;
	line-height: 1.62em;
	margin-bottom: 20px;
	text-align: justify;
}

.projects p {
	color: #595959;
	word-spacing: .35em;
	line-height: 1.62em;
	margin-bottom: 10px;
	text-align: justify;
}

.projects table {
	color: #595959;
	word-spacing: .35em;
	line-height: 1.43em;
	margin-bottom: 10px;
	text-align: left;
}

.box {
	color: #009999;
	margin-bottom: 25px;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-2 {
	width:50%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.box .contactus {
	width:50%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: right;
}
.box .col-6 {
	width:16.66%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}


.btn {
	line-height: 50px;
	border: 1px solid;
	padding: 15px;
}
.btn:hover {
	background-color: #009999;
	color: #ffffff;
}
.box .col-2 h4 {
	margin:20px 0;
}
.box .contactus h4 {
	margin:20px 0;
	color: #595959;
}
.box .contactus p {
	color: #595959;
	line-height: 23px;
}
.box .col-6 p {
	margin: 10px 0;
	color: #595959;
	word-spacing: 0px;
	line-height: 18px;
	text-align: center;
}
.foto {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.whyyouchooseus {
	background-color: #008984;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer {
	padding:3vh 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	font-size: smaller;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #009999;
	border-right-color: #009999;
	border-bottom-color: #009999;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #009999;
	color: #fff;
	padding: .5vw 0;
}
.label p {
	font-size: smaller;
}
.labelhome {
	background-color: #006666;
	padding: .4vh 0;
}


/*................................................................................................................*/

.slider{
  width: 90vw;
  height: 50.625vw;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  text-align: center;
}

.slides input{
  display: none;
  text-align: center;
}

.slide{
  width: 20%;
  transition: 2s;
  text-align: center;
}

.slide img{
  width: 90vw;
  height: 50.625vw;
  text-align: center;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 90vw;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.manual-btn{
  border: .2vw solid #40D3DC;
  padding: .3vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 90vw;
  justify-content: center;
  margin-top: 41.6vw;
}

.navigation-auto div{
  border: .2vw solid #40D3DC;
  padding: .3vw;
  border-radius: 50%;
  transition: 1s;	
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/*................................................................................................................*/


@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header a img {
		float: left;
		margin: 2vh 0;
		max-width: 45vw;
	}
	header ul li a {
		margin:6.8vh 1vw;
		font-size: smaller;
	}
	.banner {
		height: 37vw;
	}
	.slider{
		width: 100vw;
		height: 56.25vw;
		border-radius: 0px;
	}
	.slide img{
		width: 100vw;
		height: 56.25vw;
	}
	.navigation-manual{
		margin-top: -86.5vw;
	}
	.manual-btn {
		border: .25vw  solid #40D3DC;
  		padding: .8vw;
	}
	.navigation-auto{
		margin-top: 47vw;
	}
	.navigation-auto div{
		border: .25vw  solid #40D3DC;
  		padding: .8vw;
	}
	.shrink1 {
	  	font-size: smaller;
	  	margin-top: .7vw;
	  	}
	.shrink {
	  	max-width: 34vw;
	}
	.box .col-2 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
	.box .contactus {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
	.box .col-6 {
		width:50%;
		float: left;
	}
	.foto {
		width: 60%;
	}
	header a img{
		float: left;
		margin: 2vh 0;
	}
	section h5 {
		font-size: unset;
	}
	section h6 {
		font-size: unset;
	}
	header ul li a {
		margin:3vh 1.5vw;
	}
}


	/* ------------------------------------------------------------------------------------*/
	/* ------------------------------------------------------------------------------------*/


	@media screen and (min-width: 769px) {
		header ul.topnav li.icon {
			display: none;
		}
		header ul.topnav1 {
			display: none;
		}
	}
	@media screen and (max-width: 768px) {
	  	ul.topnav li:not(:first-child) {
	  		display: none;
	  	}
	  	header ul.topnav li a {
			margin:0vh 0vw;
		}
		header ul.topnav1 {
			display: none;
		}
		header ul.topnav1 li a {
			width: 100%;
			margin:0 1vw;
			font-size: small;
			display: block;
			transition:.5s;
		}
	  	ul.topnav1 li {display: none;}
	  	ul.topnav li.icon {
	    float: right;
	    display: inline-block;
	    font-size: xx-large;
	    margin-top: .8vw;
  		}
  		.navigation-manual {
			display: none;
		}
	}

	/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu 
*/
	@media screen and (max-width:768px) {
		ul.topnav1.responsive {position: relative;}
		ul.topnav.responsive li.icon {
			position: absolute;
			right: 0;
			top: 0;	
		}
		ul.topnav1.responsive{
			display: inline-block;
			text-align: center;
			margin: 0 0;
		}
		ul.topnav1.responsive li {
			display: inline-grid;
			text-align: center;
		}
		ul.topnav1.responsive li a {
			display: block;
			text-align: center;
			margin:0 1.9vw;
		}
		.active {
			color: #009999;
			border-bottom : none
		}
	}

	/* ------------------------------------------------------------------------------------*/
	/* ------------------------------------------------------------------------------------*/	